<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo1.css">
    
    <title>Document</title>
</head>
<body>
  <div class="container" id="formualrio">
        <div class="row g-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
          </div>
        </div>
        <p>Digite su nuevo correo electronico :</p>
        <input type="email" name="correo" id="correo" placeholder="Escribe una nuevo correo">
        <p>Digite su nueva contrasena :</p>
        <input type="password" name="pass1" id="pass1" placeholder="password">
        <input type="password" name="pass2" id="pass2" placeholder="password">
        <br><br>
        <input type="button" id="boton" value="verificar">
        <p style="color: red;" id="info"></p>
  </div>
</form>
<script  src="validador-datos.js"></script>
</body>
</html>