{% load static %}
{% block content%}

<link rel="stylesheet" href= '{% static "css/estilo1.css"%}'/>
<link rel="stylesheet" href= '{% static "css/bootstrap.min.css"%}'/>
<body style='background-color:#ffc107'>
<div  id="signup">
<a  href="{% url 'home' %}"><img src= '{% static "Carrusel y logo/logo.jpg"%}' alt="Pagina principal" width="120" height="90" id='logo'></a>
<h1 id="r-title">Registrate</h1>



{% endblock %}

<!-- crea un formulario llamando la funcion en views.py-->
<!--vamos a indicar como enviar el formulario con el atributo "action", se ocultan los passwords-->
{{error}} <!--se llama desde el archivo views.py para que muestre el error de datos -->
<form action="/signup/" method="post" >
{%csrf_token %} <!--generador de token para evitar hijacking-->
{{form.as_p}}<br>
<center><label for="terms"><input id="r-title" type="checkbox" name="terms" required> Acepto los terminos y condiciones al usar este servicio</label></center>

<center><button class="btn btn-outline-warning" id='signup-bt'>
 SignUp   
</button></center>


</form>
<center><p>¿Ya tienes una cuenta?</p></center>
<a type="button" href="{% url 'login' %}" class="btn btn-outline-warning" id="login-bt">Login</a>

</div>

</body>